{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenu sur SymRecipe</h1>
      <p class="lead">SymRecipe est une application de type application qui sert d'application comme les applications.</p>
      <hr class="my-4">
      <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Insription</a>
    </div>
  </div>
{% endblock %}